<div class="clearfix" style="padding: 2px; padding-left: 0px">
<img src="http://alpinedata.com/wp-content/themes/alpine/library/images/logo.png" width="250px" style="display: inline-block; margin-top: 2px;">
</div>


# Jupyter Notebook in Chorus - Basics

Online Documentation on Alpine-Jupyter integration:<br>

<a href="https://alpine.atlassian.net/wiki/display/V6/Using+Alpine+Chorus+Notebooks">https://alpine.atlassian.net/wiki/display/V6/Using+Alpine+Chorus+Notebooks</a><br>

This notebook shows you how to interact with a Jupyter notebook in Chorus using the ChorusCommander API that is provided by Alpine to easily interact with your data.

This library is automatically imported when the notebook starts.
It is imported into the notebook as an object called `cc`.<br><br>

<font><b>Instructions:</b><br> <br>
1) To run Jupyter notebooks within Chorus, you need to set up a dedicated server and make all the needed configurations.<br>

2) This script illustrates how to use two data sources (Database and HDFS) - which the user will have to modify in order to run<br>

3) <i>(Once 1-2 is completed)</i> DO NOT modify/run this script in the current workspace. You should copy it to your own workspace (using the Copy button after closing the notebook).</font>

## Available Methods and Help

These are the methods currently implemented by the ChorusCommander API:

(You can type `cc.` and press Tab to see all these methods by auto-completion)
- `datasource_name`
- `database_name`
- `hdfs_ls`
- `read_file_csv`
- `write_file_csv`
- `write_file`
- `sql_execute` (note: use this one if writing to an Oracle database, our built-in methods won’t work)
- `read_table`
- `create_table`
- `write_table`

To call any of the following methods, use<b> `cc.method_name(parameters)`</b>. 
You can display documentation about them from within the notebook by typing <b>`help(method_name)`</b>.

In [1]:
#Example:
help(cc.read_file_csv)

Help on method read_file_csv in module commander_lib.ChorusCommander:

read_file_csv(self, file_path, sep=',', delimiter=None, header=None, names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression=None, thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, escapechar=r'\', comment=None, encoding='utf-8', dialect=None, tupleize_cols=False, error_bad_lines=True, warn_bad_lines=True, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None, **kwargs) method of commander_lib.ChorusCommander.ChorusCommander instance
    Accesses a file on HDFS, and reads it into a DataFrame in pandas
    using the ``pandas.read_csv`` function. This function also supports
    optionally iterating or breaking the file into chunks.

    Additional information can be found in the
    `IO Tools help <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Args:
        file_path: The full path of the file in HDFS.
        sep (str): Delimiter to use. Default is ','. If ``sep`` is
            ``None``, the function will try to automatically determine
            this. Separators longer than 1 character and different from
            's+' will be interpreted as regular expressions. This will
            force use of the Python parsing engine and will ignore quotes
            in the data. Regex example: 'rt'
        delimiter (str): Alternative argument name for ``sep``. Default is
            ``None``.
        header (int or list of ints): Row number(s) to use as the column
            names. This number also refers to the start of the data. The
            default value is 0 if no numbers are passed. To replace
            existing names, use ``header=0``. The header can be a list of
            integers that specify row locations for a mutli-index on the
            columns. For example, the list [0,1,3] would skip row 2. Note
            that this parameter ignores commented lines and empty lines if
            ``skip_blank_lines=True``. In this case, ``header=0`` denotes
            the first line of data rather than the first line of the file.
            Default value is 'infer'; this means that the header row will
            be automatically inferred.
        names: List of column names to use. Default value is ``None``. If
            the file contains no header row, then explicitly pass
            ``header=None``.
        index_col (int, sequence, or False): Column to use as the row
            labels of the DataFrame. If a sequence is given, a MultiIndex
            is used. If you have a malformed file with delimiters at the
            end of each line, use ``index_col=False`` to force pandas _not_
            to use the first column as the index for row names. Default
            value is ``None``.
        usecols (array-like): Return a subset of the columns. All elements
            in this array must either be positional (such as integer
            indices into the document columns) or strings that correspond
            to column names provided either by the user in ``names`` or
            inferred from the document header row(s). For example, a valid
            ``usecols`` parameter would be [0,1,2] or ['foo','bar','baz'].
            Using this parameter results in much faster parsing time and
            lower memory usage. Default value is ``None``.
        squeeze (boolean): If the parsed data only contains one column,
            then return a Series. Default value is ``False``.
        prefix (str): Prefix to add column numbers when there is no header.
            For example, 'X' would be added to each column number to
            become 'X0','X1',...
            Default value is ``None``.
        mangle_dupe_cols (boolean): Duplicate columns will be specified as
            'X.0'...'X.N', rather than 'X'...'X'
            Default value is ``True``.
        dtype (Type name or dict of column -> type): Data type for data or
            columns. E.g. ``{‘a’: np.float64, ‘b’: np.int32}`` (Unsupported
            with engine=’python’). Use a ``str`` or ``object`` to preserve
            and not interpret dtype.
        engine (Optional): ``{'c', 'python'}``. Parser enginge to use. The
            C engine is faster, while the python engine is currently more
            feature-complete.
        converters (dict): Dict of functions for converting values in
            in certain columns. Keys can either be integers or column
            labels. Default value is ``None``.
        true_values (list): Values to consider as ``True``. Default value
            is ``None``.
        false_values (list): Values to consider as ``False``. Default value
            is ``None``.
        skipinitialspace (boolean): Skip spaces after delimiter. Default
            value is ``False``.
        skiprows (list-like or integer): Line numbers to skip (0-indexed)
            or number of lines to skip (integer) at the start of the file.
            Default value is ``None``.
        skipfooter (int): Number of lines at the bottom of hte file to skip
            (Unsupported with ``engine=c``). Default value is 0.
        nrows (int): Number of rows of the file to read. Useful for reading
            pieces of large files. Default value is ``None``.
        na_values (str or list-like or dict): Additional strings to
            recognize as NA/NaN. If dict passed, specific per-column NA
            values. By default the following values are interpreted as NaN:
            '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN',
            '-nan', '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'.
            Default value is ``None``.
        keep_default_na (bool): If ``na_values`` are specified and
            ``keep_default_na`` is ``False``, the default NaN values are
            overriden, otherwise they are appended to. Default value is
            ``True``.
        na_filter (boolean): Detect missing value markers (empty strings
            and the value of ``na_values``). In data without any NAs,
            passing ``na_filter=False`` can impprove the performance of
            reading a large file. Default value is ``True``.
        verbose (boolean): Indicate the number of NA values placed in
            non-numeric columns. Default value is ``False``.
        skip_blank_lines (boolean): If ``True``, skip over blank lines
            rather than interpreting them as NaN values. Default value is
            ``True``.
        parse_dates (boolean or list of ints or list of lists or dict):
            - If boolean: If ``True``, then try parsing the index.
            - If list of ints or names: For example, if [1,2,3], then try
            parsing columns 1,2,3 each as a separate date column.
            - If list of lists: For example, if [[1,3]], then combine
            columns 1 and 3 and parse as a single date column.
            - If dict: For example, if {‘foo’ : [1, 3]}, then parse columns
            1,3 as date and call result ``foo``. Note: a fast-path exists
            for iso8601-formatted dates.
            - Default value is ``False``.
        infer_datetime_format (boolean): If ``True`` and ``parse_dates`` is
            enabled for a column, then attempt to infer the datetime format
            to speed up the processing. Default value is ``False``.
        keep_date_col (boolean): If ``True`` and ``parse_dates`` specifies
            combining multiple columns, then keep the original columns.
            Default value is ``False``.
        date_parser (function): Function to use for converting a sequence
            of string columns to an array of datetime instances. The
            default uses ``dateutil.parser.parser`` to do the conversion.
            Pandas will try to call ``date_parser`` in three different
            ways, advancing to the next if an exception occurs:
            1) Pass one or more arrays (as defined by ``parse_dates``) as
            arguments;
            2) concatenate (row-wise) the string values from the columns
            defined by ``parse_dates`` into a single array and pass that;
            and
            3) call ``date_parser`` once for each row using one or more
            strings (corresponding to the columns defined by
            ``parse_dates``) as arguments.
            Default value is ``None``.
        dayfirst (boolean): DD/MM format dates. This is the international
            and European format. Default value is ``False``.
        iterator (boolean): Return a ``TextFileReader`` object for
            iteration or getting file chunks with ``get_chunk()``. Default
            value is ``False``.
        chunksize (int): Return a ``TextFileReader`` object for iteration.
            See IO Tools docs for more information on iterator and
            chunksize. Default value is ``None``.
        compression: ``{‘infer’, ‘gzip’, ‘bz2’, None}``. For on-the-fly
            decompression of on-disk date. If 'infer', then use gzip or bz2
            if ``filepath_or_buffer`` is a string ending in '.gz' or
            '.bz2', respectively. No decompression otherwise. Set to
            ``None`` for no decompression. Default value is 'infer'.
        thousands (str): Thousands separator. Default value is ``None``.
        decimal (str): Character to recognize as a decimal point. (For
            example, use ',' for European data). Default value is '.'
        lineterminator (str - length 1): Character to break file into
            lines. Only valid with C parser. Default value is ``None``.
        quotechar (str - length 1, Optional): The character used to denote
            the start and end of a quoted item. Quoted items can include
            the delimiter and it will be ignored.
        quoting (int or csv.QUOTE_* instance): Control field quoting
            behavior per ``csv.QUOTE_*`` constants. Use one of
            QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or
            QUOTE_NONE (3). Default (``None``) results in QUOTE_MINIMAL
            behavior.
        escapechar (str - length 1): One-character string used to
            escapechar delimiter when quoting is QUOTE_NONE. Default value
            is ``\``.
        comment (str): A character which indicates the remainder of line
            should not be parsed. If this is found at the beginning of a
            line, the line will be ignored altogether. This parameter must
            be a single character. Like empty lines (as long as
            ``skip_blank_lines=True``), fully commented lines are ignored
            by the parameter header but not by ``skiprows``. For example,
            if ``comment='#``, parsing
            '#empty
            a,b,c
            1,2,3'
            with ``header=0`` will result in 'a,b,c' being treated as the
            header. Default value is ``None``.
        encoding (str): Encoding to use for UTF when reading/writing
            (ex. ‘utf-8’). List of Python standard encodings can be found
            at
            https://docs.python.org/3/library/codecs.html#standard-encodings
            Default value is ``utf-8``.
        dialect (str or csv.Dialect): If ``None``, then it defaults to the
            Excel dialect. Ignored if ``sep`` is longer than 1 char. See
            ``csv.Dialect`` documentation for more details. Default value
            is ``None``.
        tupleize_cols (boolean): Leave a list of tuples on columns as-is.
            The default is to convert to a MultiIndex on the columns.
            Default value is ``False``.
        error_bad_lines (boolean): Lines with too many fields (e.g. a csv
            line with too many commas) will by default cause an exception
            to be raised, and no DataFrame will be returned. If ``False``,
            then these "bad lines" will be dropped from the DataFrame that
            is returned. (Only valid with C parser). Default value is
            ``True``.
        warn_bad_lines (boolean): If ``error_bad_lines`` is ``False``, and
            ``warn_bad_lines`` is ``True``, a warning for each "bad line"
            will be output. (Only valid with C parser). Default value is
            ``True``.
        **kwargs: arbitrary key-value pairs. For example: ``verify=False``
            means do not verify the SSL cert when SSL is enabled.

    Returns:
        pandas.DataFrame: return a pandas DataFrame.

    Raises:
        Exception: An error occured when contacting the Chorus API.

## Importing libraries

In order to import standard libraries such as pandas type <b>`import pandas as pd`</b>  (or whatever alias you choose). You can find a list of pre-installed libraries [here](https://alpine.atlassian.net/wiki/display/V6/Using+Alpine+Chorus+Notebooks?preview=/105840664/110067972/pypackagelist.txt).

In [2]:
import pandas as pd

If the library is not pre-installed, you can install it using <b>`!pip install library_name`</b> 
from the notebook.

However, if the Docker container for the notebook is destroyed, you may need to install the package again.

In [3]:
#Example: importing seaborn

!pip install seaborn
import seaborn as sns

Requirement already satisfied (use --upgrade to upgrade): seaborn in /home/chorus/ChorusCommander/.pyenv/versions/2.7.6/envs/project_env/lib/python2.7/site-packages

/home/chorus/ChorusCommander/.pyenv/versions/2.7.6/envs/project_env/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

## Importing data associated with your workspace

You can easily import data associated with your workspace. You can include both Hadoop files and database tables within the same notebook.

Click on the <b>Data button</b> at the top --> <b>"Import Dataset into Notebook"</b>  and select the dataset to import.<br>
The notebook will automatically detect the data source and use the right method to import your data. ChorusCommander reads it into a DataFrame in pandas using the ``pandas.read_csv`` function. It then saves the DataFrame to a variable called ``df_filename``.

In [4]:
#Importing the database table "credit" associated with my workspace.
#The following code was AUTO-GENERATED when doing what is described above

cc.datasource_name = 'Postgres_Demo'
df_credit = cc.read_table(table_name='credit_100rows', schema_name='public', database_name='demo')

/home/chorus/ChorusCommander/.pyenv/versions/2.7.6/envs/project_env/lib/python2.7/commander_lib/ChorusCommander.py:559: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  return df.convert_objects(convert_numeric=True)

In [5]:
#Visualizing the first rows of the datast imported
df_credit.head()

,id,times90dayslate,revolving_util,debt_ratio,credit_lines,monthly_income,times30dayslate_2years,srsdlqncy
0,91,0,0.35,0.675,6,2820.658562,0,0
1,1055,0,0.18,0.482,5,4069.634891,0,0
2,1537,0,0.29,0.433,7,1478.238497,0,0
3,1593,0,0.32,0.133,7,1517.769146,0,0
4,1846,0,0.23,0.287,4,2005.337706,0,0

You can import several datasets from multiple data sources in the same notebook. 

After importing data from our Postgres database, we now import a file stored in HDFS.

In [26]:
#Importing data 'search_data_csv' stored in Hadoop as a pandas DataFame: (code auto-generated)

hdfs_path = '/search_data.csv'
cc.datasource_name = 'CDH54_HA'
df_search_data_csv = cc.read_file_csv(hdfs_path, header=0)

df_search_data_csv.head()

,INQRY_LOG_ID,INQRY_WEBST_ID,INQRY_TRMT_CTGY_CD,INQRY_APFX_CD,INQRY_RADIUS_NUM,INQRY_ZIP_CD,DURATION,VALID_FLAG,OPRTN_CD,CITY_NM,ST_ALPHA_CD
0,1,55,19501,WPV,10,80122.0,0.050,Y,P,PLAYA DEL RAE,CA
1,2,55,19501,WPV,15,80516.0,5.612,Y,P,CINCINNATI,OH
2,3,55,23456,WPV,20,80108.0,33.498,Y,P,NaN,CA
3,4,66,34565,BJN,25,80122.0,123.453,Y,R,NaN,NE
4,5,66,43241,BJN,50,NaN,3.341,Y,R,DENVER,CO

## Writing data to a database or HDFS

Let's do some simple transformations on one of our inputs:

In [6]:
#Casting columns to numeric and selecting customers with more than 3 credit_lines:

df_credit[['times90dayslate', 'revolving_util','debt_ratio','credit_lines']] = df_credit[['times90dayslate',
                                            'revolving_util','debt_ratio','credit_lines']].apply(pd.to_numeric)

df_credit_filtered = df_credit[df_credit['credit_lines'] > 3][['id', 'credit_lines']]

#print "Number of customers with more than 3 credit lines: {0}".format(df_credit_filtered.id.count())

In [7]:
#Checking the data types
print(df_credit_filtered.dtypes)
col_info =  [{"id":"varchar(50)"}, {"credit_lines":"int"}]

id              int64
credit_lines    int64
dtype: object

### Writing data to a database

When interacting with multiple data sources within the same notebook, you need to reinitialize the
``cc.datasource_name`` variable before interacting with the data source.

In [8]:
cc.datasource_name = 'Postgres_Demo'

#Creating table is done automatically when calling write_table
cc.write_table(data_frame=df_credit_filtered,
               table_name='credit_filtered',
               column_info=[{"id":"varchar(50)"}, {"credit_lines":"int"}],
               schema_name='public',
               database_name='demo',
               drop_if_exists=True,
               limit=100000)

# New table is stored in the database and can be used in an Alpine workflow.

### Writing data to HDFS

In [45]:
# Define the HDFS path to store the file
hdfs_path_new = '/datasets/credit_new'

# Reinitialize the data source name before interacting with the data source 
cc.datasource_name = 'CDH54_HA'

# Use cc.write_file_csv if you have a DataFrame to store as a CSV file
cc.write_file_csv(data_frame=df_credit_filtered,
              file_path=hdfs_path_new,
              overwrite_exists=True)

If you are not working with a DataFrame or you don't want to store results in CSV format, you can use our 
more general built-in method.

In [46]:
# Also could use (more general method to use for any type of content):
cc.write_file(content=df_credit_filtered.to_csv(),
              file_path=hdfs_path_new,
              overwrite_exists=True)

The file has now been stored to HDFS and can be used in an Alpine workflow!

<h3>And of course... you can use all existing functionalities available in a Jupyter notebook (with Python kernel) </h3>